.root {
    -fx-background-color: #b4fcb4;
    -fx-background-image: url("../images/field.png");
    -fx-background-size: 707px;
    -fx-background-repeat: no-repeat;
}

#fxLabelInfoGame {
    -fx-font-size: 12px;
    -fx-text-fill: RED;
}

#fxHealthPlayer {
    -fx-background-color: RED;
}

#fxHealthEnemy {
    -fx-background-color: RED;
}

#fxMessages {
    -fx-background-color: #b4fcb4;
}

.text-area {
    text-area-background: #b4fcb4;
}

.text-area .content {
    -fx-background-color: text-area-background ;
}